{% extends 'base.html' %}
{% load static %}


{% block content %}
<section class="container-fluid bg-primary text-white text-center py-5 hero-section" role="banner">
    <div class="container">
        <h1 class="display-4">Welcome to FitFlex</h1>
        <p class="lead">Your journey to a healthier life starts here. Tailored fitness programs for all levels.</p>
        <div class="my-5">
            <h4>
                {% if user.is_authenticated %}
                    <a href="{% url 'all_products' %}" class="btn  btn-lg" aria-label="Find Routine">Find Your Routine</a>
                {% else %}
                    <a href="{% url 'account_signup' %}" class="btn  btn-lg" aria-label="Get Started">Get Started</a>
                {% endif %}
            </h4>
        </div>
    </div>
</section>

<section id="about-section" class="about-section py-5">
    <div class="container text-center">
        <h2 class="display-4">About FitFlex</h2>
        <p class="lead">At FitFlex, we believe that everyone deserves to lead a healthy and fulfilling life. Our mission is to empower individuals of all fitness levels to achieve their personal health goals through tailored fitness programs, expert guidance, and a supportive community.</p>
        <p>Whether you're just starting your fitness journey or looking to take your training to the next level, FitFlex offers the resources, motivation, and encouragement you need to succeed. Our dedicated team of fitness professionals is here to help you every step of the way, providing personalized workout plans, nutritional advice, and ongoing support.</p>
        <p>Join us today and take the first step towards a healthier you. Together, we can achieve great things!</p>
    </div>
</section>

<section id="contact-section" class="contact-section py-5">
    <div class="container text-center">
        <h2 class="display-4">Contact Us</h2>
        <p class="lead">We'd love to hear from you! Please fill out the form below, and we'll get back to you as soon as possible.</p>

        <form action="{% url 'contact' %}" method="post" class="contact-form mt-4">
            {% csrf_token %}
            <div class="form-group mb-3">
                <label for="fullName">Full Name</label>
                <input type="text" id="fullName" name="full_name" class="form-control" placeholder="Your Full Name" required>
            </div>
            <div class="form-group mb-3">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" class="form-control" placeholder="Your Email" required>
            </div>
            <div class="form-group mb-3">
                <label for="category">Category</label>
                <select id="category" name="category" class="form-control" required>
                    <option value="">Select category</option>
                    <option value="general">General</option>
                    <option value="consultation">Consultation</option>
                </select>
            </div>
            <div class="form-group mb-4">
                <label for="message">Message</label>
                <textarea id="message" name="message" class="form-control" rows="5" placeholder="Your Message" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Send Message</button>
        </form>
    </div>
</section>
{%endblock%}