{% extends 'base.html' %}
{%load static%}

{% block page_header %}
div
{% endblock %}

{% block content %}
<div class="container-fluid bg-primary text-white text-center py-5">
    <div class="container">
        <h1 class="display-4">Welcome to FitFlex</h1>
        <p class="lead">Your journey to a healthier life starts here. Tailored fitness programs for all levels.</p>
        <div class="my-5">
            <h4>
                <a href="#" class="btn btn-light btn-lg">Get Started</a>
            </h4>
        </div>
       
    </div>
</div>
{% endblock %}