{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container text-center mt-5">
        <h1 class="logo-font">Checkout</h1>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-12 order-summary">
                <h2 class="order-summary-title">Order Summary</h2>
                <div class="order-summary-content">
                    {% for item in bag_items %}
                        <div class="order-item d-flex justify-content-between align-items-center mb-3">
                            <div class="item-info d-flex">
                                <div class="item-image">
                                    <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" class="img-fluid" style="width: 60px; height: 60px;">
                                </div>
                                <div class="item-details ml-3">
                                    <p class="item-name">{{ item.product.name }}</p>
                                    <p class="item-price">£{{ item.product.price|floatformat:2 }}</p>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <p class="text-center">Your bag is empty.</p>
                    {% endfor %}
                    <hr>
                    <div class="bag-summary">
                        {% if october_discount_applies %}
                            <p class="summary-discount">Autumn-Time Discount ({{ discount_percent }}%): 
                                -£{{ discount_amount|floatformat:2 }}</p>
                        {% endif %}
                        <p class="summary-total">Total (After Discount): 
                            £{{ total_price|floatformat:2 }}</p>
                        <p class="summary-grand-total">Total (Before Discount): 
                            £{{ grand_total|floatformat:2 }}</p>
                    </div>
                </div>
            </div>

            <div class="col-12 mt-4 user-info">
                <h2 class="form-title">Your Information</h2>
                <form action="#" method="POST" id="payment-form">
                    {% csrf_token %}
                    <fieldset class="form-fieldset">
                        <legend class="fieldset-label">Contact Information</legend>
                        
                        <input type="text" id="id_first_name" name="first_name" class="form-control mb-3" 
                            value="{% if user.is_authenticated %}{{ user.first_name }}{% endif %}" 
                            placeholder="First Name" required>
                        
                        <input type="text"  id="id_last_name" name="last_name" class="form-control mb-3" 
                            value="{% if user.is_authenticated %}{{ user.last_name }}{% endif %}" 
                            placeholder="Last Name" required>   
                        
                        <input type="email"  id="email" name="email" class="form-control mb-3" 
                            value="{% if user.is_authenticated %}{{ user.email }}{% endif %}" 
                            placeholder="Email" required>

                            <div class="form-check mt-3">
                                <input type="checkbox" class="form-check-input" id="id-save-info" name="save_info">
                                <label class="form-check-label" for="id-save-info">Save this information for future checkouts</label>
                            </div>
                    </fieldset>
                    
                    <fieldset class="px-3">
                        <legend class="fieldset-label">Payment</legend>
                        <div class="mb-3" id="card-element"></div>
                        <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                        <input type="hidden" value="{{ client_secret }}" name="client_secret">
                    </fieldset>

                    <div class="submit-button text-right mt-4">
                        <p class="small text-danger my-0">
                            <span class="icon">
                                <i class="fas fa-exclamation-circle"></i>
                            </span>
                            <span>Your card will be charged <strong>£{{ total_price|floatformat:2 }}</strong></span>
                        </p>
                        <button id="submit-button" class="btn btn-primary">
                            Complete Order
                        </button>
                        <a href="{% url 'all_products' %}" class="btn btn-danger ml-2" onclick="return confirmCancel();">Cancel Checkout</a>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div id="loading-overlay" style="display: none;">
        <h1 class="text-light logo-font loading-spinner">
            <span class="loader-icon">
                <i class="fas fa-dumbbell"></i> 
            </span>
        </h1>
    </div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}
<script src="{% static 'checkout/js/stripe_element.js' %}"></script>

<script>
    function confirmCancel() {
        return confirm("Are you sure you want to cancel the checkout? Any unsaved changes will be lost.");
    }
</script>
{% endblock %}
