{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'faq/css/faq.css' %}">
{% endblock %}



{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <h2 class="text-center">Ask a Question</h2>
            <form method="POST" action="{% url 'submit_question' %}" class="mt-4">
                {% csrf_token %}
                <div class="mb-3">
                    {{ form.question|add_class:"form-control custom-textarea" }}
                </div>
                <button type="submit" class="btn btn-primary w-100 mt-3">Submit Question</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
