{% extends "base.html" %}
{% load allauth i18n %}
{% block head_title %}
    {% trans "Signup" %}
{% endblock head_title %}
{% block content %}
    <div class="signup-page container-fluid d-flex justify-content-center align-items-center min-vh-100" style="padding-top: 80px;">
        <div class="col-md-6 col-lg-4">
            <div class="text-center mb-4">
                {% element h1 %}
                    {% trans "Sign Up" %}
                {% endelement %}
            </div>
            <div class="text-center mb-3">
                {% setvar link %}
                    <a href="{{ login_url }}" class="text-decoration-none text-primary">
                {% endsetvar %}
                {% setvar end_link %}
                </a>
                {% endsetvar %}
                {% element p %}
                    {% blocktranslate %}Already have an account? Then please {{ link }}sign in{{ end_link }}.{% endblocktranslate %}
                {% endelement %}
            </div>

            <div class="card shadow-xl rounded-4 p-4">
                <div class="card-body">
                    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                        {% csrf_token %}
                        {{ form|crispy }}
                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <div class="d-grid gap-2 mt-4">
                            <button type="submit" class="btn btn-primary w-100">
                                {% trans "Sign Up" %}
                            </button>
                        </div>
                    </form>
                </div>
            </div>

            {% if SOCIALACCOUNT_ENABLED %}
                <hr class="my-4">
                {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
            {% endif %}
        </div>
    </div>
{% endblock content %}
